@mixin background_transition(
    $bg_path: white 
) {
    position: relative;
    overflow: hidden;  
    
    @if $bg_path == white {
        background-color: white;
    } @else {
        background: url($bg_path) no-repeat center / cover;
    }

    transition: opacity 0.5s ease, color 0.5s ease;

    > p:first-of-type {
        width: 100%;
        text-align: left;
        font-size: 30pt;
        font-weight: 900;
        border-bottom: 2px solid lightgray;
        margin-bottom: 70px;
        transition: border-color 0.5s ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%; 
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1; 
        transition: left 0.5s ease;
    }

    p, div, span {
        position: relative;
        z-index: 1;
        transition: color 0.5s ease;
    }

    &:hover {
        opacity: 1;

        &::before {
            left: 0;
        }

        &, p, div, span {
            color: white;
        }

        > p:first-of-type {
            border-bottom-color: white;
        }
    }
}