//gpt 추천이지만.. 이 방법은 일단 보류.
@mixin background_transition(
    $bg_path: null
) {
    position: relative;
    overflow: hidden;  
    background-color: rgb(50, 50, 50);
    
    color: lightgray;
    transition: color 0.4s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        
        @if $bg_path != null {
            background: url($bg_path) no-repeat center / cover;
        } @else {
            background-color:  rgb(50, 50, 50);
        }
        
        z-index: 0; 
        transition: left 0.6s ease-in-out;
    }

    p, div, span, article {
        position: relative;
        z-index: 1; 
        transition: color 0.4s ease, border-color 0.4s ease;
    }

    &:hover {
        color: white;

        &::before {
            left: 0; 
        }

        > p:first-of-type {
            border-bottom-color: white;
        }
        
        p, div, span {
            color: white;
        }
    }
}