@use './content_article.scss' as at;

#content_box {
    display: flex;
    width: 100%;
    min-height: 600px;
    flex-wrap: wrap;
    background-color: rgb(50, 50, 50);

    @include at.numbering_article( '../res/back.png');

    article {

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}