@use './nunbering_box.scss' as *;
@use '../../scss_module/transition/hover/background_hover.scss' as *;

#content_box {
    display: flex;
    width: 100%;
    min-height: 600px;
    flex-wrap: wrap;
    background-color: rgb(50, 50, 50);

    >a {
        display: flex;
        flex-wrap: wrap;
        width: 250px;
    }

    .numbering_box {
        @include numbering_box('../../rsc/back.png');
    }

}