@use './content_article.scss' as at;

#content_box {
    display: flex;
    background-color: rgb(50, 50, 50);

    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    @include at.numbering_article;

    img {
        width: 100%;
        object-fit: contain;
    }
}