@mixin numbering_article($hover-img: null) {
    article {
        width: 250px;
        padding: 70px 40px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;

        // 기본 상태
        opacity: 0.4;
        color: lightgray;
        position: relative; // 가상 요소 기준점
        overflow: hidden;   // 배경 나가는 것 방지
        cursor: pointer;
        z-index: 1;
        transition: opacity 0.5s ease; 

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: none;

            @if $hover-img != null {
                background-image: url($hover-img);
                background-size: cover;
                background-position: center;
            } @else {
                background-color: white;
            }
        }

        > p:first-of-type {
            width: 100%;
            text-align: left;
            font-size: 30pt;
            font-weight: 900;
            border-bottom: 2px solid lightgray;
            margin-bottom: 70px;
            transition: border-color 0.5s ease;
        }

        &:hover {
            opacity: 1;

            &::before {
                left: 0;
                transition: left 0.5s ease;
            }

            &, p, div, span {
                color: white !important;
                transition: color 0.5s ease;
            }

            > p:first-of-type {
                border-bottom-color: white;
            }
        }

        p, div, span {
            transition: none;
        }
    }
}