@use '../../scss_module/text/title_content.scss' as *;

@mixin numbering_box($hover-img: null) {
    width: 250px;
    height: 600px;
    padding: 70px 40px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    color: lightgray;
    opacity: 0.4;


    background-image: url('../../rsc/back.png');
    background-repeat: no-repeat;
    background-size: cover;

    background-position: -250px center;
    transition: background-position 0.5s ease;

    &>.number {
        margin-left: 0; //상위 margin-auto 상쇄
        font-size: 30pt;
        font-weight: 900;
        border-bottom: 2px solid lightgray;
        margin-bottom: 20px;
    }

    &>.content_text {
        height: 250px;
        @include title_content($title-bgc: transparent,
            $title-text-color: #fff,
            $title-size: 20px,
            $title-margin: 20px auto,
            $title-weight: 1000,
            $content-bgc: transparent,
            $content-text-color: #fff,
            $content-size: 15px,
            $content-margin: 40,
            $content-weight: 400);
    }

    img {
        width: 100%;
        object-fit: contain;
        transition: transform 0.5s ease;
        transform-origin: left bottom;
    }

    &:hover {
        opacity: 1;
        background-position: 0px center;

        img {
            transform: scale(1.15);
            transition: transform 0.5s ease;
        }
    }
}