//nav box는 구조가 단순하여 즉석 구현.

nav{
    width: 100%;
    height: 120px;
    display: flex;

    background-color: rgb(50, 50, 50);
    border-bottom: 2px solid rgb(172, 155, 158);
    box-sizing: border-box;

    justify-content: flex-end;
    align-items: flex-end;   
}

nav .mail{
    margin: 0 10px 10px 0;
    width: 30px;
    height: 30px;
}